<%- include('../partials/head-start-partial') %>
<link rel="stylesheet" href="/css/create-product.css" />
<%-include('../partials/head-end-partial') %>
<%-include('../partials/body-start-partial') %> 
<% if (showAlert===true) { %>
<p class="product-alert">All fields required to create a product</p>
<% } %>
<h1 class="product-title">Add product</h1>
<form
  action="/create-product"
  method="post"
  class="product-form"
  enctype="multipart/form-data"
>
  <label for="name" class="product-form__label">Name:</label>
  <input
  required
    type="text"
    name="name"
    id="name"
    class="product__title-input"
    placeholder="Write a name of your choice"
    value="<%= name %>"
  />

  <label for="description" class="product-form__label">Description:</label>
  <textarea
    required
    name="description"
    rows="10"
    id="description"
    class="product-form__description"
    placeholder="Write your opinion about the product"
  >
<%= description %></textarea
  >
  <label for="price" class="product-form__label">Price:</label>
  <input
  required
    type="number"
    name="price"
    id="price"
    class="product-form__price"
    placeholder="Write a price of your choice"
    step="0.01"
    value="<%= price %>"
  />
  <label for="gallery" class="product-form__label product-form__label--images"
    >Gallery:</label
  >
  <input
    required
    enctype="multipart/form-data"
    id="gallery"
    type="file"
    name="images"
    accept=".png, .jpg, .jpeg, .pdf"
    class="product-form__images"
  />
  <div class="product-form__preview">
    <p>No files currently selected for upload</p>
  </div>
  <button type="submit" class="primary-button">Add product</button>
</form>
<%- include('../partials/body-end-partial') %>
